/*

Template: COINEX - Crypto Currency HTML Template 
Author: iqonicthemes.in
Version: 1.0
Design and Developed by: iqonicthemes.in

*/
.animation-img{
    width: 100% !important;
    height: 100% !important;
}
#responsi-tte4-r{
    text-align-last: end;

}
.buttons
                                {
                                    background-color: #f9b707;
                                    color:white;
                                    border-radius: 5px;
                                }